@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  background-color: white;
}

pre {
  font-family: monospace;
  white-space: pre;
  max-width: 100%;
  overflow-x: auto;
  margin: 0;
  padding: 0;
}

#textToCopy {
  font-size: 14px;
  line-height: 1.5;
  max-height: 70vh;
  padding: 1rem;
  font-family: monospace;
  white-space: pre;
  tab-size: 4;
}